body {
  margin: 0;
  padding: 0;
}
main {
  background-color: rgb(255, 255, 255);
}
body p{
  margin: 1%
}

header {
  padding: 2%;
  padding-left: 32px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

header nav a{
  padding-left: 3%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

article {
  margin: 2%;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 32px;
}
.text {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;

}
.bilder {
  display: flex;
  flex-direction: row;
}


h3  {
  padding: 2%;
}





